{% extends 'base.html' %}
{% block content %}
    <h2>Produtos Disponíveis</h2>
    <div class="produtos">
        {% for produto in produtos %}
            <div class="produto">
                <img src="{{ url_for('static', filename='imagens/' + produto.imagem) }}" alt="{{ produto.nome }}">
                <h3>{{ produto.nome }}</h3>
                <p class="preco">R$ {{ produto.preco }}</p>
                <p>{{ produto.descricao }}</p>
                <a href="{{ url_for('produto', produto_id=produto.id) }}" class="ver-mais-btn">Ver Mais</a>
                <a href="{{ url_for('adicionar_carrinho', produto_id=produto.id) }}" class="comprar-btn">Adicionar ao Carrinho</a>
                {% if session.get('is_admin') %}
                <a href="{{ url_for('editar_produto', produto_id=produto.id) }}" class="editar-btn">Editar</a>
                <a href="{{ url_for('remover_produto', produto_id=produto.id) }}" class="remover-btn">Remover</a>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
